In [2]:
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import pandas as pd

In [56]:
# simulate data
df = pd.DataFrame({"ID": np.random.choice(range(1, 30), size = 80, replace = True)} )
d2 = df.reset_index().groupby(["ID"], as_index = False).\
                    agg({"index":"count"}).\
                    rename(columns = {"index":"num_obs"})
d2["Treatment"] = np.random.choice(["exper", "ctrl", "sham"], size = len(d2), p = [0.2, 0.4, 0.4])
d2

# for ii in range(len(np.unique(df.ID))):

    ID  num_obs Treatment
0    1        3      ctrl
1    2        3     exper
2    3        1      ctrl
3    4        1      sham
4    5        1     exper
5    6        4      ctrl
6    7        2      ctrl
7    8        2      sham
8    9        5     exper
9   10        5     exper
10  11        4      ctrl
11  12        5      sham
12  13        2      ctrl
13  14        4      sham
14  15        3     exper
15  16        1      ctrl
16  17        2      sham
17  18        2      sham
18  19        2      ctrl
19  20        5     exper
20  21        4      sham
21  22        3      ctrl
22  23        3      sham
23  24        2      sham
24  25        4     exper
25  26        2     exper
26  27        3      ctrl
27  29        2      ctrl

In [42]:
md = smf.mixedlm("Weight ~ Time", data, groups=data["Pig"], re_formula="~Time")
mdf = md.fit()
print(mdf.summary())

NameError: name 'data' is not defined